# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
#*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# images
*.pdf
*.svg
*.png

# Project specific files
Release/*
archive/initial_code_host/ProcessFrame
archive/initial_code_host/ProcessVideo
archive/initial_code_pandaboard/Libs/*
archive/initial_code_pandaboard/Release/*
RobotClient
Robot
