# Compiled Object files
*.slo
*.lo
*.o
Release/*.o
Release/*.d
CaptureFrame

# Compiled Dynamic libraries
#*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Project specific files
*.dat
*.png
